body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(242, 242, 242);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 80px;
    text-align: left;
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(77, 77, 77);
    color: white;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(102, 102, 102);
}
.operator{
    background-color: #ffa500;
}
.operator.active{
    background-color: red !important;
}
.clear{
    background-color: rgb(198, 198, 196);
}
.equals{
    background-color: rgb(40, 167, 69);
}
