{% extends 'base.html' %}

{% block head %} 
<title>Edit Task</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1>Update Task</h1>

    <form action="/update/{{task.crn}}" method="POST">
            <input type = "text" name = "crn" value="{{task.crn}}">
            <input type = "text" name = "course_name" value="{{task.class_name}}">
            <input type = "text" name = "professor" value="{{task.teacher_name}}">
            <input type = "text" name = "days_time" value="{{task.days_time}}">
            <input type = "submit" value="Submit Course">
        </form>
</div>
{% endblock %}